.bi bi-wikipedia {
    color: #ffffff;
}

/* Point 6: Changement de la couleur de l'icône Wikipédia pour qu'elle apparaisse sur le fond noir du bouton. */

h1 {
    font-family: cursive;
}
/* Modification personnelle non demandée dans le TP. */

.ms-md-5 {
    font-family: cursive;
    font-size: small;
    text-align:justify;
}
/* Modifications personnelles non demandées dans le TP. */